
@media screen and (max-width: 800px) {
  .paper{ 
    width: 450px;
  }
  #inputText {
    margin-top: 4px;
    width: 25em;
    font-size: .8em;
  }
  .task > input {
    width: 21em;
    font-size: .8em;
  }
  .title {
    font-size: 2em;
  }
  .fa-plus{
    margin-top: 4.5px;
    font-size: .9rem;
  }
}
@media screen and (max-width: 700px) {
 
  #inputText {
    width: 25em;
  }
  .task > input {
    width: 21em;
  }
}

@media screen and (max-width: 600px) {
  .paper{ 
    width: 450px;
  }
  #inputText {
    width: 25em;
  }
  .task > input {
    width: 21em;
  }
}

@media screen and (max-width: 550px) {
  .paper{ 
    position: absolute;
    top: 70px;
    left: 50px;
    width: 400px;
  }
  #inputText {
    width: 22em;
  }
  .task > input {
    width: 17em;
  }
}

@media screen and (max-width: 500px) {
  .paper{ 
    width: 400px;
  }
  #inputText {
    width: 22em;
  }
  .task > input {
    width: 17em;
  }
}

@media screen and (max-width: 420px) {
  .paper{ 
    width: 320px;
  }
  #inputText {
    width: 15em;
  }
  .task > input {
    width: 11em;
  }
}

@media screen and (max-width: 380px) {
  .paper{ 
    position: absolute;
    top: 70px;
    left: 30px;
    width: 300px;
  }
  #inputText {
    width: 12em;
  }
  .task > input {
    width: 9em;
  }
}

@media screen and (max-width: 280px) {
  .paper{ 
    position: absolute;
    top: 70px;
    left: 30px;
    width: 300px;
  }
  #inputText {
    width: 12em;
  }
  .task > input {
    width: 9em;
  }
}

