*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: yellow;
}

.list{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.tab{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  margin: 10px 20px;
}

.tab::after{
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -75px;
  border-top: 3px solid black;
  transition: 0.5s ease-out;
}

.tab::before{
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: -3px;
  left: 75px;
  border-bottom: 3px solid black;
  transition: 0.5s ease-out;
}

.tab:hover::after{
  top: 0px;
  left: 0px;
}

.tab:hover::before{
  top: -3px;
  left: 0px;
}