/* Quiz */
.quiz-container {
  display: flex;
  height: 350px;
  background-image: linear-gradient(to bottom right, rgb(224, 61, 210), rgb(255, 145, 0));
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  margin: auto;
  height: 300px;
  width: 500px;
  background-image: linear-gradient(to bottom right, wheat, rgb(240, 177, 60));
  box-shadow: 0 0 10px #000;
}
.quiz >* {
  margin: auto;
}

.text-input {
  border: none;
  height: 25px;
  margin-top: 10px;
  box-shadow: 0 0 4px #000;
}