*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.47059;
  font-weight: 400;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-nav{
  position: sticky;
  display: block;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(20px);
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.page{
  width: 100%;
  height: 90vh;
  background-color: #FBFBFD;
  display: flex;
  justify-content: center;
}
.container{
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.empty{
  flex: 1;
}
.list{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex: 3;
  list-style: none;
}

.link{
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}

.link-text >*{
  transition: 0.2s ease-in;
}
.link-text:hover >*{
 filter: invert(20%);
}

/* Covid bar */

.covid-19-app-copy{
  display: flex;
  width: 100%;
  min-width: 1024px;
  height: 100vh;
  max-height: 44px;
  font-size: 17px;
  background-color: #0071E3;
  align-items: center;
  justify-content: center;
}
.covid-link{
  color: #fff;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.covid-link:hover{
  text-decoration: underline;
}

/* ribbon-shop online */

.ribbon-shop-online {
  margin-bottom: 4vh;
  width: 100%;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.covid-ribbon-copy {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 12px 0;
}

.covid-ribbon-copy a {
  text-decoration: none;
  color: #06c;
}
.covid-ribbon-copy:hover a{
  text-decoration: underline;
}

/* All images definitions */
.image{
  position: relative;
  margin: 1vh 0px;
  display: flex;
  width: 100vw;
  align-content: center;
  justify-content: center;
}

.snoopy-show{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: blue;
  height: 600px;
  /* background: url(./img/snoopy-show.jpg); */
}

.snoopy-box{
  position: absolute;
  height: 500px;
  background-color: brown;
  z-index: 10;
}

.sprites{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(3060px/10);
  height: calc(2920px/10);
}
/* .snoopy-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(3060px/10);
  height: calc(2920px/10);
}
  

