.router-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.router-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.nav-links{
  width: 100%;
}

.link li{
  color: #fff;
  text-decoration: none;
}

.nav-links ul {
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.shop-item{
  height: auto;
}

.item-image{
  width: 100%;
}

.item-container{
  margin: 20px auto;
}

.item-button{
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  border: 3px solid rgb(0, 108, 112);
  transition: 1s;
}

.item-button:hover{
  background-color: red; /*for compatibility with older browsers*/
	background-image: linear-gradient(rgb(255, 115, 0),orange);
}

.item-image{
  box-shadow: 0 0 3px black;
}

.shop-title{
  margin: 20px auto;
}

