@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
/* 
font-family: 'Fredericka the Great', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Lemonada', cursive; */

:root{
  --nav: #111;
  --dark: #1D1D1D;
  --light: #9fffe7;
  --speed: 0.5s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: var(--speed);
  font-family: 'Open Sans', sans-serif;
}
html,body {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100vh;
  background-color: #1D1D1D;
  color: white;
  display: grid;
  grid-template-columns: 10fr 30fr 10fr;
  grid-template-areas:
    "nav header sidebar"
    "nav content sidebar"
    "nav content sidebar"
    "nav footer sidebar";
}
.main-head {
  grid-area: header;
  display: flex;
  align-items: center;
}
.content {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: content;
}
.primery-text{
  padding-left: 2rem;
}

.tags{
  font-family: 'La Belle Aurore', cursive;
  color: #7c7c80;
}
/* ----- Main navigation bar -----*/
.main-nav {
  grid-area: nav;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--nav);
  color: var(--light);
  border-right: 2px solid black;
}
.logo{
  align-self:center;
  background-color: var(--nav);
}

/* New pages tabs*/
.tab{
  width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
	background: var(--nav);
	align-items: center;
	justify-content: center;
}
.btn-flip{
  width: 100%;
  opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 0.8rem;
}

.btn-flip:hover:after{
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before{
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip::after{
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: black;
  display: block;
  transition: var(--speed);
  font-weight: bold;
  position: absolute;
  background-color: #7c7c80;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip::before{
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  color: #adadaf;
  display: block;
  line-height: 40px;
  transition: var(--speed);
  position: relative;
  background: var(--nav);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 2rem;
}

/* Specification higher - current page*/
.current.btn-flip::before{
  background: #333;
}

/* Social links & icons */
.social{
  height: 20rem;
  padding: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-link{
  list-style: none;
}
.social-link a{
  color: #aaa;
  text-decoration: none;
  transition-duration: 0.1s;
}

.social-link a:hover{
  color: wheat;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* side bar */
.side {
  grid-area: sidebar;
  background-color: var(--dark);
}

/* footer */
.main-footer {
  grid-area: footer;
  background-color: var(--dark);
}

.sub-head{
  cursor: default;
  font-weight: lighter;
  color: #e4e4e4;
}

.text-zone{
  cursor: default;
  font-weight: lighter;
  color: #b6b6b6;
}

/* Form -contact */
.container{
  height: 30vh;
  width: 100%;
}

input[type=text], input[type=email] ,input[type=subject], textarea{
  width: 100%;
  padding: 12px;
  margin: 3px 0px;
}

input[type=submit] {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

input[type=submit]:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
input, textarea{
  background-color: #333;
}

/* Letters in content area */
.letter{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  transition: all .3s ease-out;
}
.letter:hover, .capital:hover, .logo-link:hover{
  cursor: default;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.capital, .logo-link{
  cursor: default;
  text-decoration: none;
  font-family: 'Fredericka the Great', cursive;
  font-size: 5rem;
  color: var(--light);
  transition: all .3s ease-out;
}

.logo-link{
  font-size: 3rem;
}
/* Glowing button */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: 1px solid var(--light);
  outline: none;
  color: #fff;
  background: var(--dark);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.glow-on-hover:active {
  color: var(--dark);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark);
  left: 0;
  top: 0;
  border-radius: 5px;
}

/* Animation for glowing button */
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* Media query for desktop */
@media (max-width: 731px) {
  .wrapper {
    width: 100%;
    grid-template-areas:
      "nav"
      "header"
      "content"
      "footer";
  }
  .main-nav {
    width: 100vw;
    height: 42px;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    border: 1px solid black;
  }
  .tab{
    flex-direction: row;
    justify-content: stretch;
    height: 42px;
    width: 50vw;
    height: 100%;
  }
  .side{
    display: none;
  }
  .btn-flip{
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .social{
    padding: 0 2rem;
    justify-content: space-between;
    width: 15rem;
    height: 100%;
  }
}
/* Media query for mobile & tablet  */
@media (min-width: 731px) {
  .wrapper {
    grid-template-columns: 1fr 40rem 15fr;
    grid-template-areas:
      "nav header  sidebar"
      "nav content sidebar"
      "nav content sidebar"
      "nav footer  sidebar"
   }
   nav ul {
     flex-direction: column;
   }
}

/* Snow animation */
.hero {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-middle-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 30s infinite ease-out;
}
#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
  0%  {fill-opacity: .15; }
  5%  {fill-opacity:   1; }
  10% {fill-opacity: .15; }
  15% {fill-opacity:   1; }
  20% {fill-opacity: .15; }
  25% {fill-opacity:   1; }
  30% {fill-opacity: .15; }
  35% {fill-opacity:   1; }
  40% {fill-opacity: .15; }
  45% {fill-opacity:   1; }
  50% {fill-opacity: .15; }
  55% {fill-opacity:   1; }
  60% {fill-opacity: .15; }
  65% {fill-opacity:   1; }
  70% {fill-opacity: .15; }
  75% {fill-opacity:   1; }
  80% {fill-opacity: .15; }
  85% {fill-opacity:   1; }
  90% {fill-opacity: .15; }
  95% {fill-opacity:   1; }
	100% {fill-opacity: .15; transform: translateY(0); }
}
