
/* Boxes */
.box-container{
  padding: 16px 0px;
  background-image: linear-gradient(to bottom right, rgb(72, 61, 224), rgb(0, 255, 179));
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #0099ff;
  height: 500px;
  width: 500px;
  border: 1px solid #000;
  box-shadow: 0 0 10px #000;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5abdff;
  box-shadow: 0 0 10px #000;
  height: 450px;
  width: 450px;
}
.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
  background-color: #7bcaff;
  box-shadow: 0 0 10px #000;
  height: 400px;
  width: 400px;
}
.box4 {
  background-color: #c4e7ff;
  box-shadow: 0 0 10px #000;
  height: 100px;
  width: 350px;
}