.checklist-container{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  background-image: linear-gradient(to bottom right, rgb(255, 136, 0), rgb(255, 251, 0));
  justify-content: center;
  align-items: center;
}

.box5 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: #fffc3b;
  height: 330px;
  width: 330px;
  border: 1px solid rgb(102, 0, 0);
  box-shadow: 0 0 10px rgb(87, 0, 0);
}

.reset-btn,
.delete-btn {
  font-size: 1rem;
  height: auto;
  width: auto;
  margin: 15px;
}

.check-list-item{
  display: flex;
}