/* buttons */
.bold {
  font-weight: 900;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-image: linear-gradient(to bottom right, rgb(72, 61, 224), rgb(74, 219, 255));
  box-shadow: 0 0 5px teal;
  color: #fff;
}

.not-bold {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-image: linear-gradient(to bottom right, rgb(72, 61, 224), rgb(74, 219, 255));
  box-shadow: 0 0 5px teal;
  color: #fff;
}
.buttons-wrapper{
  background-image: linear-gradient(to bottom right, rgb(0, 255, 85), rgb(0, 255, 191));
}

.button-container {
  padding: 20px;
  height: 80px;
  display: flex;
  justify-content:space-evenly;
}

