/* MAIN: other customers buy */
main #other-customers-buy{
  height: 415px;
}

/* MAIN: question and answers */
main #question_answers {
  height: 260px;
}

/* MAIN: customer's review */
main #customers-review {
  height: 1700px;
}

/* MAIN: inspired by browsing history */
main #inspired-by-browsing-history {
  height: 567px;
}