/*------------ FOOTER -----------*/
footer{
  display: flex;
  flex-direction: column;
  color: #fff;
}
footer a:link,
footer a:visited {
  font-family: inherit;
  /* color: #004B91; */
  text-decoration: none;
}
footer >*  {
 justify-content: center;
 align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
}
footer .footer-line {
  display: block;
  border-top: 1px solid #3a4553;
}

/* FOOTER: back to top button */
footer .back-top{
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  background-color: #37475A;
  padding: 15px 0px;
}

footer .back-top:hover {
  background-color: #485769;
}

/* FOOTER: contact Amazon */
footer .contact-amazon {
  height: 270px;
  background-color: #232F3E;
}
footer .contact-amazon .accessibility {
  display: flex;
}
footer .contact-amazon .accessibility .col-head {
  text-align: left;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
  padding: 0px 7px;
}

footer .contact-amazon .accessibility .link-col ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0 7px;
}
footer .contact-amazon .accessibility .link-col ul li {
  margin-bottom: 8px;
}
footer .contact-amazon .accessibility .link-col ul li a{
  color: #ddd;
}

footer .about a:hover,
footer .bottom-footer a:hover,
footer .links-line ul li a:hover,
footer .contact-amazon .accessibility .link-col ul li a:hover {
  text-decoration: underline;
}
footer .contact-amazon .accessibility .col-space {
  width: 90px;
  display: table-cell;
  padding: 0px 40px;
}
/* FOOTER: logo-line */
footer .logo-line {
  padding: 30px 0px;
  height: 50px;
  background-color: #232F3E;
}
footer .footer-logo {
  background-image: url(https://images-fe.ssl-images-amazon.com/images/G/65/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405931427_.png);
  background-position: -10px -90px;
  width: 76px;
  height: 23px;
}

footer .links-line {
  background-color: #232F3E;
}


footer .links-line ul li{
  padding: 0px 7.2px 30px 7.2px;
}
footer .links-line ul li a {
  font-size: 12px;
  color: #dddddd;
  line-height: 18px;
  font-weight: 400;
}

/* FOOTER: About Amazon */
footer .about {
  height: 200px;
  background-color: #131A22;
}

footer td {
  font-size: 13px;
  line-height: 120%;
  padding: 0 75px;
}

footer .footer-table {
  padding-top: 30px;
}
footer .about .footer-description{
  text-align: left;
}

footer .about .footer-description a{
  color: #ddd;
  font-size: 11px;
}

footer .about .footer-text {
  color: #999;
}

/* FOOTER: bottom footer */
footer .bottom-footer {
  font-size: 12px;
  color: #dddddd;
  height: 58px;
  background-color: #131A22;
}
footer .bottom-footer ul {
  display: flex;
}
    
footer .bottom-footer a {
  font-size: 12px;
  color: #dddddd;
  padding: 0px 12px;
}
