/* Utility */
.primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}
.secondary {
  color: #cccccc;
  font-weight: 400;
  font-size: 12px;
}

.normal {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.special {
  color: #f08804;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}