.simple-fetch-container{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  background-image: linear-gradient(to bottom right, rgb(255, 148, 232), rgb(255, 2, 78));
  justify-content: center;
  align-items: center;
}
.box6{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: #3bc1ff;
  height: 330px;
  width: 330px;
  border: 1px solid rgb(94, 0, 138);
  box-shadow: 0 0 5px rgb(0, 12, 119);
}

.movie-title{
  color: rgb(1, 255, 255);
   text-shadow: -1px 0 rgb(10, 0, 151), 0 1px black, 1px 0 black, 0 -1px black;
}

.starwars-data{
  font-size: large;
}