.form-container{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right, rgb(0, 255, 213), rgb(0, 132, 255));
  color: aliceblue;
  font-size: 20px;
  font-family: cursive;
}
.checkbox-form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px 10px;
  background-image: linear-gradient(to bottom right, rgb(2, 67, 187), rgb(13, 14, 83));
  border-top: 5px solid rgb(49, 49, 255);
  border-bottom: 5px solid rgb(0, 0, 50);
  border-left: 5px solid rgb(0, 127, 230);
  border-right: 5px solid rgb(0, 0, 156);
  box-shadow: 0 0 10px #333;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

