
/* cards */
.cards{
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(to bottom right, red, yellow);
}
.cards-class{
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(to bottom right, rgb(4, 0, 255), rgb(9, 255, 0));
}
.cards-container{
  display: flex;
  justify-content:space-evenly;
}
.cards-title{
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.card-container {
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 270px;
  background-color: rgb(255, 254, 204);
}
.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.detail-container{
  padding: 2px 16px;
}
.image {
  width: 100%;
  height: 250px;
  object-fit:cover;
}
.chucky {
  margin: 20px;
}

.joke-block{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}